Repository colinsheppard/balatro-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test-fast: any of: \.rs$
  cargo-audit: any of: (Cargo\.(toml|lock)|\.rs)$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml|\.rs)$

fix(#364): Complete comprehensive test suite for all static jokers (#803)
  .github/workflows/ci.yml
  .gitignore
  core/src/lib.rs
  core/src/test_infrastructure.rs
  core/tests/comprehensive_static_joker_tests.rs
  core/tests/comprehensive_static_joker_tests_part2.rs
  core/tests/comprehensive_static_joker_tests_part3.rs
  test_output.log
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

🚨 HOTFIX: [P1] Fix macOS CI failure - missing timeout command (#905)
  .github/workflows/ci.yml
Due: none

Implement Issue #405: Consumable Purchase - Automatic Slot Assignment (#897)
  TASKS.md
  core/src/consumables/mod.rs
  core/src/consumables/purchase.rs
  core/src/consumables/tarot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

feat: implement Wave 2 X-Mult jokers using StaticJoker framework (#894)
  TASKS.md
  core/src/joker_factory.rs
  core/src/static_joker_factory.rs
  core/tests/hand_type_conditional_jokers_test.rs
  core/tests/test_wave2_xmult_jokers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

feat: Day 4 - CI/CD enhancements for comprehensive testing (#930)
  .github/workflows/test-enhanced.yml
  core/tests/README.md
  core/tests/common/mocks/actions.rs
  core/tests/common/mocks/game.rs
  core/tests/common/mocks/mod.rs
  core/tests/common/mocks/rng.rs
  core/tests/common/mod.rs
  core/tests/test_ci_integration.rs
  core/tests/test_mock_framework.rs
  scripts/test-with-coverage.sh
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

feat(#912): Implement GameSession entity with production-ready lifecycle management
  core/src/domain/entities/game_session.rs
  core/src/domain/entities/mod.rs
  core/src/domain/mod.rs
  core/src/domain/value_objects/mod.rs
  core/src/domain/value_objects/session_id.rs
  core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

feat: Domain Tests and Documentation (#914)
  core/src/domain/errors.rs
  core/src/domain/mod.rs
  core/src/domain/value_objects/mod.rs
  core/src/domain/value_objects/money.rs
  core/src/domain/value_objects/score.rs
  core/tests/domain_integration_tests.rs
  core/tests/test_ci_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

feat: Domain Infrastructure Foundation (#910)
  core/src/domain/errors.rs
  core/src/domain/mod.rs
  core/src/domain/repositories/mod.rs
  core/src/domain/services/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

feat: Domain Value Objects with 8-byte SessionIds (#911)
  core/Cargo.toml
  core/src/domain/mod.rs
  core/src/domain/value_objects/mod.rs
  core/src/domain/value_objects/money.rs
  core/src/domain/value_objects/score.rs
  core/src/domain/value_objects/session_id.rs
  core/src/domain/value_objects/validation_result.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

feat: ActionValidator Service (#913)
  Cargo.lock
  core/src/domain/services/action_validator.rs
  core/src/domain/services/mod.rs
  core/src/domain/services/validation_hooks.rs
  core/src/domain/services/validation_rules.rs
  core/src/domain/value_objects/mod.rs
  core/src/domain/value_objects/money.rs
  core/src/domain/value_objects/score.rs
  core/src/domain/value_objects/session_id.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

fix: Core test infrastructure with API compatibility fixes (#923)
  .github/workflows/rust.yml
  SALVAGE_IMPLEMENTATION_NOTES.md
  TASKS.md
  TESTING_FRAMEWORK_SALVAGE_PLAN.md
  TESTING_FRAMEWORK_SALVAGE_SPEC.md
  core/Cargo.toml
  core/src/domain/value_objects/session_id.rs
  core/src/skip_tags/mod.rs
  core/tests/common/assertions.rs
  core/tests/common/fixtures.rs
  core/tests/common/helpers.rs
  core/tests/common/mocks/game.rs
  core/tests/common/mocks/mod.rs
  core/tests/common/mocks/rng.rs
  core/tests/common/mod.rs
  core/tests/domain_integration_tests.rs
  core/tests/test_ci_integration.rs
  core/tests/test_infrastructure_demo.rs
  core/tests/test_mock_framework.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny

HOTFIX: Upgrade deprecated GitHub Actions artifact v3 to v4 (#938)
  .github/workflows/test-enhanced.yml
Due: none

ignore MacOS and other local configuations
  .gitignore
Due: none

added a bare bones REPL version of the game for manual play
  pylatro/.env/lib64
  pylatro/.env/pyvenv.cfg
  pylatro/DEVELOPMENT_SETUP.md
  pylatro/README.md
  pylatro/activate_env.sh
  pylatro/inspect_objects.py
  pylatro/repl/__init__.py
  pylatro/repl/__main__.py
  pylatro/repl/repl.py
  pylatro/run_repl.sh
  pylatro/setup.sh
  pylatro/test/main.py
  pylatro/test/main_with_inspection.py
Due: none

make REPL show actions by default and allow number entry only for playing an action, fix color issue
  pylatro/Cargo.toml
  pylatro/repl/repl.py
Due: cargo-audit, cargo-deny

display hand with colors and correct ordering as well as index for quicker selection
  pylatro/repl/repl.py
  pylatro/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test-fast, cargo-audit, cargo-deny
